/* Navbar.css */

.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color:rgb(3,3,3);

} 




.logo {
  object-fit: cover;
  width: 6rem;
}

#Hide {
  display: none;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  color:  #FED7EA;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid  #FED7EA;
}

.desktopMenuBtn {
  background-color: #FED7EA;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
}

.desktopMenuImg {
  margin: 0.5rem;
}

.desktopMenuBtn:hover {
  background-color: rgb(30, 30, 30);
  transition: all 1s ease-in;
  color: rgb(236, 19, 200);
  cursor: pointer;
}

.menu {
  display: none;
  /* display: block; */
}

@media only screen and (max-width: 575px) {
  /* @media only screen and (max-width: 786px) { */
  .desktopMenu {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .desktopMenuBtn {
    display: none;
    /* width: 5rem; */
    background: #88fc4e;
    color: rgb(9, 1, 1);
  }

  #Hide {
    display: block;
  }

  .desktopMenu {
    display: none;
    /* color: rgb(11, 209, 21); */
  }

  .desktopMenu.open {
    /* Add styles for open state */
    display: block;
    /* left: -1rem; */
    position: absolute;
    left: -2rem;
    top: 5rem;
    background-color: #15130d;
    width: 108%;
    text-align: center;
    height: 50vh;
    border-radius: 1rem;
    padding: 1.5rem;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .desktopMenuListItem {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: block;
    cursor: pointer;
  }
}



.navbar.scrolling {
  background-color: #212020;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}